<div class="container">
    <h1>Scan the QR to get the next clue</h1>
</div>
<div class="container">
    <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
</div>
<div class="container" *ngIf="qrResultString">
    <button color="accent" *ngIf="qrResultString !== 'https://qrco.de/bcEwOO'" mat-button class="mat-raised-button" [routerLink]="['/challenge', qrResultString]">
        <mat-icon>search</mat-icon>
        
    </button>
    <a color="accent" *ngIf="qrResultString === 'https://qrco.de/bcEwOO'" mat-button class="mat-raised-button" href="{{qrResultString}}">
        <mat-icon>search</mat-icon>
    </a>
</div>
